footer {
position: relative;
display: flex;
align-items: center;
height: 40vh;
width: 100%;
background: #121212;
color: #fff;
overflow: hidden;
font-family: 'Raleway', sans-serif;
}
	footer .contact, footer .social, footer .form {
	position: relative;
	width: 35%;
	}
		footer .contact {
		margin: 0 0 0 calc((100% - (35% * 2))/2);
		}
			footer .contact .info {
			position: relative;
			display: flex;
			height: calc(25vh/4);
			}
				footer .contact .info div {
				position: relative;
				width: 15%;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				}
					footer .contact .info div img {
					height: 80%;
					filter: invert(100%);
					}
				footer .contact .info p {
				position: relative;
				display: flex;
				align-items: center;
				height: 100%;
				font-family: 'Raleway', sans-serif;
				font-size: 1.4vw;
				}
		footer .social {
		display: flex;
		}
			footer .social a {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			height: 25vh;
			}
				footer .social a img {
				width: 40%;
				filter: invert(70%);
				transition: 0.2s ease;
				}
				footer .social a img:hover {
				filter: invert(100%);
				}
		footer .form {
		height: 200vh;
		overflow: hidden;
		}
			footer .form iframe {
			height: 230vh;
			outline: none;
			border: none;
			width: 100%;
			overflow: hidden;
			}